.rss-item .number { 
    position: absolute;
    text-align: center; 
    background-color: olivedrab; 
    color: white; 
    width: 28px;
    height: 28px; 
    margin-left: 2px;
    line-height: 28px; 
    font-size: 14px; 
    border-radius: 100px; 
}

.rss-item .details {
    margin-left: 40px;
}

.rss-item .item-title {
    font-size: 1.4em;
    /* height: 1.4em; */
}

.rss-item .excerpt {
    /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;  */
}

main a:visited {
    /* opacity: .8; */
    color: gray;
}
/* 
.clearfix, .clear {
    clear: both;

}
 */